body{
    color: black;
    text-align: center;
    font-family: "Arial";
    font-size: 16px;
    padding: 0;
}
#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid black;
    margin: 0 auto;
}
#container h1{
    font-size: 20px;
}
#cabecera{
    background: blueviolet;
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;

}
#cabecera #tagline{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size:  0.8em;
}
#cabecera #logo{
    width: 20px;
    vertical-align: middle;
}
#footer{
    background: plum;
    text-align: center;
    padding: 4px;
}
#img1{
    align-content: center;
    width: 200px;
}